.body{
  background-color: #FFFFFF;
}

/* Margin editing */
.ma-t25{
  margin-top: 25px;
}

.ma-t35{
  margin-top: 50px;
}

.ma-s50{
  margin: 0 50px 0 50px;
}

.ma-200{
  margin: 200px 150px;
}
/* Margin editing */

/* Text alignment */

/* Text alignment */